*.exe
CreateRelease.ahk
PowerPlaySetup.iss
backup/*
data/*
images/*
logs/*
ignore/*
compiled/*
plugins/Steam Account Switcher.ahk
plugins/Debugger.ahk
plugins/backup/*
plugins/pluginlib/AutoHotkey.ahk
plugins/pluginlib/backup/*
lib/client_id.ahk