*.exe
notes.txt
UpdateTest.ahk
backup/*
data/*
images/*
logs/*
lib/backup/*
lib/plugin/backup/*
Vibrancer/*
plugins/backup/*
plugins/imgurlib/backup/*
msvcr100.dll
lib/AutoHotkey.dll
plugins/Steam Account Switcher.ahk
plugins/ROO.ahk