*.exe
notes.txt
CreateRelease.ahk
UpdateTest.ahk
VibrancerSetup.iss
backup/*
data/*
images/*
logs/*
lib/backup/*
lib/plugin/backup/*
compiled/*
plugins/Steam Account Switcher.ahk
plugins/backup/*
plugins/imgurlib/backup/*
msvcr100.dll